/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    padding: 0;
    margin: 0;
}

/*----------------------------------
         Header design  
 -----------------------------*/

.header{
    background-color: #562EFF;
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container
{
    width: 930px;
    display: flex;
    align-items: center;
}

/*-------- Header logo -----------*/
.header-logo{
    display: flex;
    align-items: flex-end;
}
.logo{
    margin-right: 15px;
}
.header-logo .logo img{
    width: 100%;
    height: 50px;
}

/* Header Navbar */
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 830px;

}
.nav-items{
    display: flex;
    list-style: none;

}
.nav-element{
    margin-right: 40px;
    color: white;
}

.navbar .profile-pic img{
    width: 100%;
    height: 50px;
}


/* --------------------------------
        main fleld design 
 ------------------------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/*-----------------------------------
           top players style
------------------------------------- */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* --------------------------
       Top blog styles 
-------------------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 30px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
    padding-right: 20px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

/* Latest Courses style  */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-author{
    color: #ED6B4F;
    font-size: 14.69px; 
}
.rating{
    color: #A2A2A2;
    font-size: 14.69px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background-color: #FFE4E8;
    border-radius: 14.6913px;
    padding: 5px;
    font-size: 14.69px;
}
.course-duration span{
    color: #FF4A60;
}
.fa-clock{
    color: #FF4A60;
}

/*-------------------- 
    Media queries 
    for phone
---------------------*/

@media only screen and (max-width:688px) {
    .header{
        width: 100%;
    }
    .header-container{
        width: 350px;
    }
    .navbar{
        width: 300px;
    }
    .nav-items ,.header-logo{
        flex-direction: column;
    }
    .header-logo, .navbar{
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog , .course{
        flex-direction: column;
    }
    
}

/*-------------------- 
    Media queries 
    for tablet
---------------------*/

@media only screen and (min-width:688px) and (max-width:992px) {
    .header{
        width: 100%;
    }
    .header-container{
        width: 350px;
    }
    .navbar{
        width: 300px;
    }
    .nav-items ,.header-logo{
        flex-direction: column;
    }
    .header-logo, .navbar{
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        width: 100%;
    }

    .players, .blogs, .courses{
        grid-template-columns: repeat(2,1fr);
    }
    .player, .blog , .course{
        flex-direction: column;
    }
    
}